<%= div_for message do %>
  <div class="media">
    <a class="pull-left" href="#">
      <% if message.user.image.present? %>
        <%= image_tag message.user.image, width: 25, height: 25 %>
      <% else %>
          <i class='icon-user'></i>
      <% end %>
    </a>
    <div class="media-body">
      <% if message.removed? %>
        <i class='text-muted'><%= message.content %></i>
      <% else %>
        <b class='text-success'><%= message.content %></b>
      <% end %>
      <% unless message.removed? %>
      <div class='pull-right'>
        <i class='text-right'><%= time_ago_in_words(message.created_at) %></i>
        <% if message.from? current_user %>
          <%= link_to "<i class='icon-edit text-info'></i>".html_safe,
                      edit_message_path(message), remote: true, alt: t('edit'), style: 'display: inline-block' %>

          <%= link_to "<i class='icon-remove text-danger'></i>".html_safe,
                      message, remote: true, method: :delete, style: 'display: inline-block' %>
        <% end %>
      </div>
    <% end %>
    </div>

  </div>
  <hr/>
<% end %>