<!DOCTYPE html>
<html lang='en' class="no-js">
<head>
  <title>Devday2013</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
   <div class="container">

    <% if user_signed_in? %>
      <% img = (current_user.image.present? ? image_tag(current_user.image, with: 20, height: 20) : '') %>
      <% label = "#{img}&nbsp;#{t('logout')}&nbsp;<i class='icon-signout'></i>" %>
      <%= link_to label.html_safe, destroy_user_session_path, class: 'btn btn-default pull-right', method: :delete %>
    <% end %>

    <div class='img-responsive' style='text-align: center;'>
      <%= image_tag 'DevIsland_logo.png', alt: t('devday') %>
    </div>

    <% if notice %>
      <div class="alert alert-info "><%= notice %></div>
    <% end %>
    <% if alert %>
      <div class="alert alert-warning"><%= alert %></div>
    <% end %>


    <div class='container' style='margin-left: 20px;'>
      <% unless user_signed_in? %>
        <div class="row" style='text-align:center;'>
            <% label = "<span class='icon-facebook'></span> | Connect with Facebook" %>
            <%= link_to label.html_safe, user_omniauth_authorize_path(:facebook), class: 'btn btn-default btn-lg' %>
        </div>
      <% end %>
      <%= yield %>
    </div>
    
     <%= render partial: 'shared/menus' %>

  </div>
</body>
</html>
